@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}


/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 255;
    --background-end-rgb: 0, 0, 0;
  }
} */

@media (prefers-color-scheme: dark) {
  :root {
    --background-image: url('/OpClean.skyFall.png');
  }
}



/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
} */

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background-image) no-repeat center center fixed;
  background-size: cover;
  /* To make sure the image covers the full viewport */
}


#fullscreenVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.contact-page {
  background-image: url('/OpClean.skyFall.png');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Media query for smaller screens */
@media (max-width: 767px) {
  .video-container video {
    /* offset att building to the left */
    object-position: 30% top;

    /* centers the att building */
    /* object-position: 22% top; */
  }
}